.modal-overlay-r {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-r {
  background: white;
  padding: 40px;
  width: 700px;
  border-radius: 12px;
  text-align: center;
}

.med-table {
  margin-top: 30px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.table-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal-footer-r {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.btn-download {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-close {
  background: #333;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}
